body {
    margin: 0;
    background-color: #a8bcb3;
    font-family: Inter;
}

/* Menu da página */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 140px;
    /* Adiciona uma sombra na parte inferior */
    box-shadow: 0 4px 11px rgba(0, 0, 0, 0.3);
}

.logo {
    width: 190px;
    height: auto;
    box-sizing: border-box;
}
.logo img {
    height: 250px;
    width: auto;
    margin-left: 30px;
}

.nav-bar {
    color:#FFFFFF;
    font-size: 18px;
    font-family: Inter;
    font-weight: 600;
}

.nav-bar a {
    text-decoration: none;
    color: white;
}

/* HOVER altera alguma propriedade ao passar o cursor pela categoria  */
.nav-bar li a:hover{
    border-bottom: #FFFFFF 2px solid;
}

.pags-nav-bar{
    list-style: none;
    display: inline-block;
    padding: 30px 25px;
    border-right: 2px solid white;
}
#blog{
    border-right: none;
}

/*A partir daqui temos as informações da barra de pesquisa*/
.search input {
    display: flex;
    border: 1px solid transparent;
    align-items: center;
    height: 51px;
    width: 200px;
    border-radius: 10px;
    background-color: #FFFFFF;
    color: #5b6b66;
    padding: 0px 15px;
    margin-right: 50px;
    margin-top: 8px;
    margin-left: 5px;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
}
.search img {
    padding: 5px;
    width: auto;
    height: 29px;
}
.search button {
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    margin-top: -50px;
    margin-left: 180px;
    position: absolute;
}

.titulo-agendamentos {
    text-align: center;
    font-size: 3.5rem;
    border-top: 1px solid #5b6b66;
    border-bottom: 1px solid #5b6b66;
    padding: 2%;
    font-family: Brandis;
    font-weight: 400;
    color: #5b6b66;
}

/* Seção Rodapé */
footer {
    display: flex;
    align-items: center;
    background-color: #5b6b66;
    margin: 0;
    font-family: Inter;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 400;
    max-height: 376px;
}
.logo-rodape{
    width: 400px;
    height: auto;
    margin-left: 50px;
}
.icones-rodape{
    display: flex;
    flex-direction: column;
    width: 80px;
    height: auto;
    margin-left: 60px;
}
.icones-rodape a{
    text-decoration: none;
}
.texto-icones-rodape{
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    margin-top: 20px;
    width: 250px;
}
.texto-icones-rodape a{
    text-decoration: none;
    color: #FFFFFF;
}
.texto-icones-rodape p{
    margin-bottom: 23px;
}
.texto-adicional{
    display: flex;
    flex-direction: column;
    margin-left: 110px;
    margin-top: -100px;
}
.texto-adicional a{
    text-decoration: none;
    color: #FFFFFF;
}

/* Página Agendamentos */

/* Container do formulário */
.form-container {
    background-color: #C0CEC6;
    font-family: Inter;
    padding: 30px 40px;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 320px;
    text-align: center;
    margin-bottom: 50px;
}

/* Campos de entrada */
.form-container label {
    display: block;
    text-align: left;
    margin-bottom: 3%;
    color: #5b6b66;
    font-size: 1.5rem;
}

/* Container do formulário */
.form-container {
    background-color: #C0CEC6;
    padding: 2% 3%;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 25%;
    text-align: center;
    margin-bottom: 7%;
}

.form-container input {
    font-family: Inter;
    font-size: 1rem;
    width: 100%;
    padding: 3%;
    margin-bottom: 5%;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
}

/* Botão de envio */
.form-container button {
    width: 40%;
    padding: 5%;
    background-color: #5b6b66;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.3rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container button:hover {
    background-color: #4C5954;
}