
footer.footer {
    width: 100%;
    overflow: hidden ;
    background-color: #5b6b66;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    border-top: 1px solid #5b6b66;
}

.footer-container {
    padding: 40px 0px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
}

.footer-logo img {
    width: 200px;
}

/* Bloco dos contatos */
.footer-info {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.footer-item a {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    color: white;
    max-width: 280px;
}

.footer-item img {
    width: 40px;
    height: 40px;
}

/* Links adicionais */
.footer-extra {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-extra a {
    text-decoration: none;
    color: white;
}

.footer-extra p {
    font-size: 18px;
    padding-right: 20px;
}

/* ----------- RESPONSIVIDADE ----------- */
@media (max-width: 830px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-item a {
        justify-content: center;
    }

    .footer-logo img {
        margin-bottom: 10px;
    }

    .footer-extra {
        text-align: center;
    }
}

@media (max-width: 450px) {
    .footer-item p {
        font-size: 14px;
    }

    .footer-container {
        gap: 25px;
    }
}
