/* ======= ESTILO GERAL ======= */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}

header {
    width: 100%;
    background: #a8bcb3;
    color: white;
    box-shadow: 0 4px 11px rgba(0, 0, 0, 0.3);
}

.navbar {
    height: 16vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 25px;
    margin: auto;
    gap: 60px;
}

/* Informações do Logotipo*/
.logo {
    width: 11.875rem;
    box-sizing: border-box;
}
.logo img{
    height: 15.625rem;
    width: auto;
    margin-left: 10px;
}

/*Menu Desktop*/

.menu {
    list-style: none;
    display: flex;
    gap: 25px;
}

.menu li{
    font-weight: 600;
    font-size: 18px;
}

.menu li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: 0.3s;
}

.menu li a:hover {
    opacity: 0.7;
}

/* ======= MENU HAMBURGUER ======= */

.menu-hamburguer {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.menu-hamburguer span {
    width: 28px;
    height: 3px;
    background: white;
    transition: 0.3s;

}

/* ======= RESPONSIVIDADE ======= */

@media (max-width: 950px) {
    .menu {
        position: fixed;  /* garante que fique sobre todo o conteúdo */
        top: 0;
        margin-top: 0;
        right: -100%;
        flex-direction: column;
        background: #5b6b66;
        width: 230px;
        height: 100vh;
        padding: 20px;
        gap: 15px;
        transition: right 0.3s ease;  
        z-index: 9999; /* maior que o banner */
    }

    .menu.active {
        right: 0;
    }

    .menu-hamburguer {
        display: flex;
    }
}

/* ===== ANIMAÇÃO DO BOTÃO AO ABRIR ===== */

.menu-hamburguer.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.menu-hamburguer.active span:nth-child(2) {
    opacity: 0;
}

.menu-hamburguer.active span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
}