body {
    margin: 0;
    background-color: #a8bcb3;
    font-family: Inter;
}

.titulo-nossos-profissionais{
    text-align: center;
    font-size: 3.5rem;
    margin: 5%;
    border-top: 1px solid #5b6b66;
    border-bottom: 1px solid #5b6b66;
    padding: 2%;
    font-family: Brandis;
    font-weight: 400;
    color: #5b6b66;
}

/* Blocos de imagem + texto */
.bloco-um-nosso-espaco {
    font-family: Inter;
    color: #5b6b66;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 5%;
    line-height: 5dvh;
    margin-bottom: 10dvh;
}

.bloco-um-nosso-espaco img {
    width: 27dvw;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 11px rgba(0, 0, 0, 0.3);
}

.titulo-texto {
    display: flex;
    flex-direction: column;
    width: 50dvw;
}

#titulo-um {
    line-height: 6dvh;
    font-family: Brandis;
}

.bloco-um-nosso-espaco p {
    text-align: justify;
    
}

#botao {
    width: 45%;
    background-color: #5b6b66;
    color:#d9d9d9;
    border: 1px solid #5b6b66;
    border-radius: 10px;
    padding: 2%;
    transition: 0.3s;
}

#botao a {
    text-decoration: none;
    color:#d9d9d9;
    font-family: Inter;
    font-size: 1.2rem;
    font-weight: bold;
}

#botao:hover {
    background-color: #6b7a75;
    border: 1px solid #6b7a75;
    
}

.texto-dois {
    font-family: Inter;
    color: #5b6b66;
    font-size: 1.5rem;
    text-align: justify;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 5dvh;
    box-sizing: border-box;
    background-color: #d9d9d9;
    padding: 2%;
    
    line-height: 5dvh;
    margin-bottom: 10dvh;
}

.bloco-dois-nosso-espaco {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 5%; 
    border-top: 1px solid #5b6b66;
    padding-top: 5%;
}

.bloco-dois-nosso-espaco img {
    width: 25dvw;
    height: auto;
    margin-bottom: 10dvh;
    box-shadow: 0 4px 11px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

#endereco {
    text-align: left;
    margin-bottom: 10dvh;
    display: flex;
    flex-direction: row;
    gap: 5%;
    font-family: Inter;
    color: #5b6b66;
    font-size: 1.5rem;
    line-height: 5dvh;
    background-color: #d9d9d9;
}

.titulo-texto {
    display: flex;
    flex-direction: column;
    width: 50dvw;
    padding-top: 5dvh;
}

.titulo-texto a {
    text-decoration: none;
    color: #5b6b66;
    transition: 0.5s;
}

.titulo-texto a:hover {
    color: #6b7a75;
}
