body {
    margin: 0;
    background-color: #a8bcb3;
    font-family: Inter;
}

.titulo-nossos-profissionais{
    text-align: center;
    font-size: 3.5rem;
    margin: 5% 30%;
    border-top: 1px solid #5b6b66;
    border-bottom: 1px solid #5b6b66;
    padding: 2%;
    font-family: Brandis;
    font-weight: 400;
    color: #5b6b66;
}

/* Blocos de imagem + texto */
.bloco-um-nosso-espaco {
    font-family: Inter;
    color: #5b6b66;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 7%;
    margin-top: 5%;
    margin-right: 15%;
}

.bloco-um-nosso-espaco img {
    width: 35%;
    height: auto;
}

.bloco-um-nosso-espaco p {
    text-align: justify;
    width: 42%;
}

.texto-meio {
    font-family: Inter;
    color: #5b6b66;
    font-size: 1.5rem;
    text-align: justify;
    align-items: center;
    width: 65%;
    margin-top: 5%;
    margin-left: 17%;
    box-sizing: border-box;
    background-color: #d9d9d9;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    padding: 2%;
}

.bloco-dois-nosso-espaco {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5% 10%;
    gap: 5%; 
    border-top: 1px solid #5b6b66;
    padding-top: 5%;

}

.bloco-dois-nosso-espaco img {
    width: 30%;
    height: auto;
}

.texto-tres {
    font-family: Inter;
    font-size: 1.5rem;
    color:#5b6b66;
    text-align: justify;
    width: 60%;
    margin-left: 20%;
    margin-bottom: 5%;
}
/* Inverte ordem dos elementos */
.txtespaco{
    font-family: Inter;
    color: #5b6b66;
    font-size: 1rem;
    text-align: center;
}
.bloco2{
    font-family: Inter;
    color: #5b6b66;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px auto;
    gap: 40px;
    max-width: 900px;
}
