body {
    margin: 0;
    background-color: #a8bcb3;
    font-family: Inter;
}

.sobre-nos{
    font-family: Inter;
    color: #5b6b66;
    display: flex;
    font-family: Inter;
    font-size: 1.5rem;
    box-sizing: border-box;
    align-items: center;
    margin-bottom: 7%;
    background-color: #d9d9d9;
    gap: 5%;
    box-shadow: 0 4px 11px rgba(0, 0, 0, 0.3);
}

.sobre-nos p{
    text-align: left;
    line-height: 5dvh;
}

.titulo-sobre-nos {
    text-align: center;
    font-size: 3.5rem;
    margin: 5%;
    border-top: 1px solid #5b6b66;
    border-bottom: 1px solid #5b6b66;
    padding: 2%;
    font-family: Brandis;
    font-weight: 400;
    color: #5b6b66;
}

#titulo-um {
    font-family: Brandis;
    color: #5b6b66;
    font-size: 3rem;
    margin-bottom: 1rem;
    
}

.sobre-nos img{
    width: 45dvw;
    height: auto;
}

.titulo-texto {
    display: flex;
    flex-direction: column;
    width: 50dvw;
}
.sobre-nos-dois {
    font-family: Inter;
    color: #5b6b66;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 5%;
    margin-bottom: 5%;
    font-family: Inter;
    font-size: 1.5rem;
    
}

#titulo-dois {
    font-family: Brandis;
    color: #5b6b66;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.sobre-nos-dois p{
    text-align: justify;
    margin-bottom: 3rem;
    line-height: 5dvh;
}
.sobre-nos-dois img{
    width: 30dvw;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 11px rgba(0, 0, 0, 0.3);
}

#botao {
    width: 45%;
    background-color: #5b6b66;
    color:#d9d9d9;
    border: 1px solid #5b6b66;
    border-radius: 10px;
    padding: 2%;
    transition: 0.3s;
}

#botao a {
    text-decoration: none;
    color:#d9d9d9;
    font-family: Inter;
    font-size: 1.2rem;
    font-weight: bold;
}

#botao:hover {
    background-color: #6b7a75;
    border: 1px solid #6b7a75;

}

/* Missão, Visão e Valores */
.missao-visao-valores{
    font-family: Inter;
    color: #5b6b66;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.5rem;
    gap: 5%;
    line-height: 5dvh;
    justify-content: center;
    margin: 0 auto;
}
.titulo-missao-visao-valores {
    font-family: Brandis;
    color: #5b6b66;
    font-size: 3rem;
}
.missao-visao-valores p{
    text-align: left;
    margin-bottom: 5%;
}
.missao-visao-valores img{
    width: 35dvw;
    height: auto;
    margin-bottom: 5%;
    border-radius: 10px;
    box-shadow: 0 4px 11px rgba(0, 0, 0, 0.3);
}

/* Diferencial da Carvi Clinic */
.titulo-diferencial{
    font-family: Brandis;
    color: #5b6b66;
    font-size: 3rem;
    text-align: center;
    border-top: 1px solid #5b6b66;
    padding: 2%;
    font-weight: 500;
    margin-bottom: 0;
}
.diferencial{
    font-family: Inter;
    color: #5b6b66;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: left;
    gap: 5%;
    font-size: 1.5rem;
    margin: 2%;
    margin-bottom: 5%;
}
.diferencial p{
    background-color: #d9d9d9;
    align-items: center;
    height: auto;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    padding: 2%;
    text-align: center;
    box-shadow: 0 4px 11px rgba(0, 0, 0, 0.3);
}

/* Horário de funcionamento e vias de contato */
.horarios-contatos{
    font-family: Inter;
    font-size: 1.5rem;
    color: #d9d9d9;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 5%;
    background-color: #5b6b66;
    padding: 2%;
    line-height: 5dvh;

}
.horarios-contatos h2{
    margin: 0;
}
.horarios-contatos a {
    text-decoration: none;
    font-family: Inter;
    font-size: 1.5rem;
    color: #d9d9d9;
    transition: 0.3s;
}

.horarios-contatos a:hover {
    color:#a8bcb3;
}
.horarios-contatos h2{
    margin: 0;
    text-align: left;

}
