body{
    margin: 0px;
    background-color: #a8bcb3;
}
/*A partir daqui temos todas as informações que envolvem o menu da página*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 140px;
    
    /* Adiciona uma sombra na parte inferior */
    box-shadow: 0 4px 11px rgba(0, 0, 0, 0.3);
}
/*Aqui é a única informação do logo*/
.logo{
    width:190px;
    height: auto;
}
.logo img{
    height:250px;
    width:auto;
    margin-left: 30px;
}

/*Aqui temos as informações do menu clicável*/
.nav-bar{
    color:#FFFFFF;
    font-size: 18px;
    font-family: Inter;
    font-weight: 600;
}

.nav-bar a{
    text-decoration: none;
    color: white;
}

/* HOVER altera alguma propriedade ao passar o cursor pela categoria  */
.nav-bar li a:hover{
    border-bottom: #FFFFFF 2px solid;
}

.pags-nav-bar{
    list-style: none;
    display: inline-block;
    padding: 30px 25px;
    border-right: 2px solid white;
}
#blog{
    border-right:none;
}

/*A partir daqui temos as informações da barra de pesquisa*/
.search{
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    height: 51px;
    width:200px;
    border-radius: 10px;
    background-color: #FFFFFF;
    color: #5b6b66;
    padding: 0px 30px;
    margin-right: 50px;
    margin-left: 5px;
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    
}
.search img{
    padding: 70px;
    width:auto;
    height:47px;

}
#banner{
    background-color: white;
    padding: 300px;
    margin-top: 50px;
}
.nossos-profissionais{
    align-items: center;
    color:#5b6b66;
    text-align: center;
    font-size: 30px;
}
@font-face{
    font-family:Brandis;
    src: url('./fontes/Brandis.otf');
}
.titulo-tipo-um{
    text-align: center;
    font-size: 64px;
    /*border: #5b6b66 solid 1px;
    border-right: none;
    border-left: none;
    width: 800px;*/ 
    font-family: Brandis;
    font-weight: 400;
    color: #5b6b66;
    margin-top: 100px;
}
.nossos-profissionais{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nomes-profissionais{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 65px;
    font-family: Anonymous Pro;
    font-weight: 400;
    font-size: 24px;
    color: #5b6b66;
}
.rodape{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5b6b66;
    margin: 0;
}
.icones-rodape{
    display: flex;
    justify-content: space-between;
    height:200px;
    width: auto;
}


