body {
    margin: 0;
    background-color: #a8bcb3;
    font-family: Inter;

}

/* Menu da página */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 140px;
    /* Adiciona uma sombra na parte inferior */
    box-shadow: 0 4px 11px rgba(0, 0, 0, 0.3);
}
/*Aqui é a única informação do logo*/
.logo{
    width: 190px;
    height: auto;
    box-sizing: border-box;
}
.logo img{
    height: 250px;
    width: auto;
    margin-left: 30px;
}

/*Aqui temos as informações do menu clicável*/
.nav-bar{
    color:#FFFFFF;
    font-size: 18px;
    font-family: Inter;
    font-weight: 600;
}

.nav-bar a{
    text-decoration: none;
    color: white;
}

/* HOVER altera alguma propriedade ao passar o cursor pela categoria  */
.nav-bar li a:hover{
    border-bottom: #FFFFFF 2px solid;
}

.pags-nav-bar{
    list-style: none;
    display: inline-block;
    padding: 30px 25px;
    border-right: 2px solid white;
}
#blog{
    border-right: none;
}

/*A partir daqui temos as informações da barra de pesquisa*/
.search input{
    display: flex;
    border: 1px solid transparent;
    align-items: center;
    height: 51px;
    width: 200px;
    border-radius: 10px;
    background-color: #FFFFFF;
    color: #5b6b66;
    padding: 0px 15px;
    margin-right: 50px;
    margin-top: 8px;
    margin-left: 5px;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
}
.search img{
    padding: 5px;
    width: auto;
    height: 29px;
}
.search button{
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    margin-top: -50px;
    margin-left: 180px;
    position: absolute;
}

@media (min-width: 768px) {
    .conteudo-banner {
        background-color: #d9d9d9;
        font-family: Inter;
        font-size: 2.5rem;
        color: #5b6b66;
        display: flex;
        flex-direction: column;
        gap: 3%;
        overflow: hidden;
        height: fit-content; 
        width: 100%;
        box-sizing: border-box;
        padding-left: 7%;
        margin-top: 5%;
        box-shadow: 0 4px 11px rgba(0, 0, 0, 0.3);
        
    }
    .conteudo-banner h1 {
        font-size: 5rem; 
        font-family: Brandis;
        padding-bottom: 0;
        text-align: left;
    }
    .conteudo-banner img {
        width: 30%;
        height: auto; 
        align-self: flex-end;
        padding: 0;
        margin-top: -30%;
    }

    .texto-banner {
        text-align: left;
    }

    .conteudo-banner a{
        font-size: 1.5rem;
        color:#d9d9d9;
        text-decoration: none;
        background-color: #5b6b66;
        border: 1px solid #5b6b66;
        border-radius: 10px;  
        width: 20%;
        box-sizing: border-box;
        padding: 1.2%;
        flex-wrap: nowrap;
        text-align: left;
    }
}

/* Seção Procedimentos Homepage */
.procedimentos-home {
    align-items: center;
    text-align: center;
    margin-top: 8%;
    color: #5b6b66;
    font-family: Inter;
    font-size: 1.2rem;
}
.procedimentos-home h1 {
    font-family: Brandis;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 3%;
}
.img-procedimentos {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin-top: 5%;
    margin-bottom: 2%;
}
.procedimentos-home img {
    width: 70%;
    height: auto;
    border-radius: 10px;
    margin-top:5%;
    box-shadow: 0 4px 11px rgba(0, 0, 0, 0.3);
}
.procedimentos-home a {
    color: #5b6b66;
    text-decoration: none;
    font-weight: bold;
    background-color: none;
}
.img-procedimentos-dois {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}
.botao-procedimentos {
    background-color: #4C5954;
    border-radius: 5%;
    font-family: Inter;
    font-size: 1.2rem;
    padding: 1%;
    text-align: center;
    box-shadow: 0 4px 11px rgba(0, 0, 0, 0.3);
    display: block;
    width: fit-content;
    margin: 3.5% 40% 7% 40%;
    flex-wrap: nowrap;
}
.botao-procedimentos a {
    text-decoration: none;
    color: #FFFFFF;
}

/*Seção Nossos Profissionais*/
.nossos-profissionais {
    display: flex;
    flex-direction: row;
    color:#5b6b66;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    
}
@font-face {
    font-family:Brandis;
    src: url('./fontes/Brandis.otf');
}
.titulo-nossos-profissionais {
    text-align: center;
    font-size: 3.5rem;
    margin: 5% 27%;
    border-top: 1px solid #5b6b66;
    border-bottom: 1px solid #5b6b66;
    width: fit-content;
    padding: 2%;
    font-family: Brandis;
    font-weight: 400;
    color: #5b6b66;
}
.nossos-profissionais img {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 7px;
}
.img-e-nome {
    display: flex;
    flex-direction: column;
    padding: 0 5%;
    margin-left: 5%;
    margin-bottom: 10%;
}



/* Seção Depoimentos */
.titulo-principal-depoimentos{
    text-align: center;
    margin-left: 23%;
    width: 50%;
    font-size: 3.5rem;
    border-top: 1px solid #5b6b66;
    padding: 2%;
    font-family: Brandis;
    font-weight: 400;
    color: #5b6b66;
    margin-top: 5%;
}
.depoimentos{
    background-color: #fafffe74;
    width: 50%;
    border: 1px solid #fafffe74;
    border-radius: 10px;
    font-family: Inter;
    color: #5b6b66;
    font-size: 1.3rem;
    margin-bottom: 5%;
    padding: 1%;
    text-align: center;
    margin-left: 24%;
    box-shadow: 0 4px 11px rgba(0, 0, 0, 0.3);
}

.titulo-depoimento{
    font-weight: 600;
    padding-bottom: 1%;
    text-decoration: underline 1px;
    text-underline-offset: 20%;
}
.texto-depoimento{
    font-weight: 400;
    font-style: italic;
}

/* Seção Rodapé */
footer {
    display: flex;
    align-items: center;
    background-color: #5b6b66;
    margin: 0;
    font-family: Inter;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 400;
    max-height: 376px;
}
.logo-rodape{
    width: 400px;
    height: auto;
    margin-left: 50px;
}
.icones-rodape{
    display: flex;
    flex-direction: column;
    width: 80px;
    height: auto;
    margin-left: 60px;
}
.icones-rodape a{
    text-decoration: none;
}
.texto-icones-rodape{
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    margin-top: 20px;
    width: 250px;
}
.texto-icones-rodape a{
    text-decoration: none;
    color: #FFFFFF;
}
.texto-icones-rodape p{
    margin-bottom: 23px;
}
.texto-adicional{
    display: flex;
    flex-direction: column;
    margin-left: 110px;
    margin-top: -100px;
}
.texto-adicional a{
    text-decoration: none;
    color: #FFFFFF;
}

/* Página Sobre Nós */
.sobre-nos{
    font-family: Inter;
    color: #5b6b66;
    display: flex;
    flex-direction: row;
    font-family: Inter;
    font-size: 1.5rem;
}
.sobre-nos p{
    text-align: justify;
    margin-top: 10%;
    width: 40%;
}
.sobre-nos img{
    width: 45%;
    height: auto;
    margin-left: 7%;
    margin-bottom: 7%;
    margin-top: 1%;
    margin-right: 4%;
}
.sobre-nos-dois {
    font-family: Inter;
    color: #5b6b66;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10%;
    margin-left: 10%;
    margin-bottom: 7%;
    flex-wrap: wrap;
    font-family: Inter;
    font-size: 1.5rem;
    box-sizing: border-box;
}
.sobre-nos-dois p{
    text-align: justify;
    width: 45%;
}
.sobre-nos-dois img{
    width: 30%;
    height: auto;
}

/* Missão, Visão e Valores */
.missao-visao-valores{
    font-family: Inter;
    color: #5b6b66;
    box-sizing: border-box;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.5rem;
    gap: 10%;
    margin-right: 10%;
    margin-bottom: 7%;
}
.titulo-missao-visao-valores {
    font-family: Brandis;
    color: #5b6b66;
    font-size: 3rem;
    margin-left: 54%;
    position: absolute;
}
.missao-visao-valores p{
    width: 40%;
    text-align: left;
    margin-bottom: -2%;
}
.missao-visao-valores img{
    width: 43%;
    height: auto;
}

/* Diferencial da Carvi Clinic */
.titulo-diferencial{
    font-family: Brandis;
    color: #5b6b66;
    font-size: 3rem;
    text-align: center;
}
.diferencial{
    font-family: Inter;
    color: #5b6b66;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.5rem;
    gap: 5%;
    margin-left: 2%;
    margin-bottom: 7%;
}
.diferencial p{
    background-color: #d9d9d9;
    width: 25%;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    padding: 2%;
    text-align: left;
}

/* Horário de funcionamento e vias de contato */
.horarios-contatos{
    font-family: Inter;
    font-size: 1.5rem;
    color: #d9d9d9;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    box-sizing: border-box;
    width: 40%;
    margin-bottom: 7%;
    margin-left: 30%;
    background-color: #5b6b66;
    border: 1px solid #5b6b66;
    border-radius: 10px;
    padding: 2%;
}
.horarios-contatos h2{
    margin: 0;
    text-align: left;
}

/* Página Agendamentos */

/* Container do formulário */
.form-container {
    background-color: #C0CEC6;
    font-family: Inter;
    padding: 30px 40px;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 320px;
    text-align: center;
    margin-bottom: 50px;
}

/* Campos de entrada */
.form-container label {
    display: block;
    text-align: left;
    margin-bottom: 3%;
    color: #5b6b66;
    font-size: 1.5rem;
}

/* Container do formulário */
.form-container {
    background-color: #C0CEC6;
    padding: 2% 3%;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 25%;
    text-align: center;
    margin-bottom: 7%;
}

.form-container input {
    font-family: Inter;
    font-size: 1rem;
    width: 100%;
    padding: 3%;
    margin-bottom: 5%;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
}

/* Botão de envio */
.form-container button {
    width: 40%;
    padding: 5%;
    background-color: #5b6b66;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.3rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container button:hover {
    background-color: #4C5954;
}

/* Página Nosso Espaço */

/* Blocos de imagem + texto */
.bloco-um-nosso-espaco {
    font-family: Inter;
    color: #5b6b66;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 7%;
    margin-top: 5%;
    margin-right: 15%;
}

.bloco-um-nosso-espaco img {
    width: 35%;
    height: auto;
}

.bloco-um-nosso-espaco p {
    text-align: justify;
    width: 42%;
}

.texto-meio {
    font-family: Inter;
    color: #5b6b66;
    font-size: 1.5rem;
    text-align: justify;
    align-items: center;
    width: 65%;
    margin-top: 5%;
    margin-left: 17%;
    box-sizing: border-box;
    background-color: #d9d9d9;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    padding: 2%;
}

.bloco-dois-nosso-espaco {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5% 10%;
    gap: 5%; 
    border-top: 1px solid #5b6b66;
    padding-top: 5%;

}

.bloco-dois-nosso-espaco img {
    width: 30%;
    height: auto;
}

.texto-tres {
    font-family: Inter;
    font-size: 1.5rem;
    color:#5b6b66;
    text-align: justify;
    width: 60%;
    margin-left: 20%;
    margin-bottom: 5%;
}
/* Inverte ordem dos elementos */
.txtespaco{
    font-family: Inter;
    color: #5b6b66;
    font-size: 1rem;
    text-align: center;
}
.bloco2{
    font-family: Inter;
    color: #5b6b66;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px auto;
    gap: 40px;
    max-width: 900px;
}


