body{
    margin: 0px;
    background-color: #a8bcb3;
}
/*A partir daqui temos todas as informações que envolvem o menu da página*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 140px;
    
    /* Adiciona uma sombra na parte inferior */
    box-shadow: 0 4px 11px rgba(0, 0, 0, 0.3);
}
/*Aqui é a única informação do logo*/
.logo{
    width:190px;
    
}

/*Aqui temos as informações do menu clicável*/
.nav-bar{
    color:#FFFFFF;
    font-size: 18px;
    font-family: Inter;
    font-weight: 600;
}

.nav-bar a{
    text-decoration: none;
    color: white;
}

/* HOVER altera alguma propriedade ao passar o cursor pela categoria  */
.nav-bar li a:hover{
    color:#d5d5d5;
}

.pags-nav-bar{
    list-style: none;
    display: inline-block;
    padding: 30px 25px;
    border-right: 2px solid white;
}
#blog{
    border-right:none;
}

/*A partir daqui temos as informações da barra de pesquisa*/
.search{
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    height: 51px;
    width:200px;
    border-radius: 10px;
    background-color: #FFFFFF;
    color: #5b6b66;
    padding: 0px 20px;
    margin-right: 50px;
    margin-left: 5px;
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    
}
.search img{
    padding: 6px;
    width:auto;
    height:47px;

}
#banner{
    background-color: white;
    padding: 300px;
    margin-top: 50px;
}
.nossos-profissionais{
    align-items: center;
    color:dimgray;
    text-align: center;
    font-size: 30px;
}
.nossos-profissionais h1{
    border-top: dimgray solid 1px; /* Ainda não consegui deixar igual ao mockup! */
    border-bottom: dimgray solid 1px;
}
.nossos-profissionais ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.nomes-prof{
    background-color: white;
    padding: 150px 100px;
    margin-right: 5px;
}
